
DATA_16-11-2020/

DATA_19-10-2020/

PLOTS_11-11-2020_newmodel/

PLOTS_13-11-2020/

PLOTS_13-11-2020_local2/

PLOTS_15-11-2020_ess=0.5/

PLOTS_15-11-2020_ess=1/

PLOTS_16-11-2020/

PLOTS_*

DATA_*

*.jpg

gillespie-ses

gillespie-ses-local

plot_results.py

eukSAResults/

gillespieSensitivityResults/

experimentAW.csv

experimentAW2.csv

experimentSarD.csv

experimentSarD2.csv

experimentTabTag.csv

figure_replications_tdyn1.png

food_production_landscape.png

long_term_aw.png

long_term_pop_Tag-Tab.png

muStar.csv

natural_component_clustering.png

oscillations_w_large.png

plot2.py

plot2Dsampling.py

plotAgregating.py

plotCriticalValues.py

population_function_land.png

sensitivityOut.dat

SPEXOut.dat

time_dynamics_agre_170221.png

transition_fragments_170221.png

*.py

*.dat

*.csv

*.png

